[submodule "litex/data/cpu/cva6/verilog/src"]
	path = pythondata_cpu_cva6/verilog/src
	url = https://github.com/openhwgroup/cva6.git
[submodule "pythondata_cpu_cva6/verilog"]
	path = pythondata_cpu_cva6/verilog
	url = https://github.com/openhwgroup/cva6
